name: Rich-codex
on: [push]

jobs:
  rich_codex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install all dependencies including private repo
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            pip install "git+https://x-access-token:${GITHUB_TOKEN}@github.com/labgem/PanGBank-api.git"
            pip install .

      - name: Generate terminal images with rich-codex
        uses: ewels/rich-codex@v1
        with:
          commit_changes: "true"
