name: Rich-codex
on: [push]
jobs:
  rich_codex:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Patch pyproject.toml to use HTTPS with token
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sed -i "s|git+ssh://git@github.com/labgem/PanGBank-api|git+https://x-access-token:${GITHUB_TOKEN}@github.com/labgem/PanGBank-api.git|g" pyproject.toml
          cat pyproject.toml

      - name: Install your custom tools
        run: pip install .
      
      - name: Generate terminal images with rich-codex
        uses: ewels/rich-codex@v1
        with:
          commit_changes: "true"
